<?xml version="1.0" encoding="UTF-8"?>
 <!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.itwillbs.yata.mapper.CarMapper">

	<select id="selectCars" resultType="com.itwillbs.yata.vo.CarVO">
		select * from car
	</select>
	
	<select id="selectCar" resultType="com.itwillbs.yata.vo.CarVO">
		select * 
			from car 
			where car_id = #{car_id}
	</select>
<!-- 	car_model -> car_name 수정 -->
	<select id="searchByName" parameterType="String" resultType="com.itwillbs.yata.vo.CarVO">
  	 	SELECT * 
  	 		FROM car 
  	 		WHERE car_name LIKE CONCAT('%',#{car_name},'%');
  	</select>
  	
  	
<!--   	관리자  	 -->
	<update id="carUpdate">
		UPDATE car
		SET car_manufacturer = #{car_manufacturer}
  			   , car_model = #{car_model}
  			   , car_name = #{car_name}
  			   , car_type = #{car_type}
  			   , car_year = #{car_year}
  			   , car_price = #{car_price}  			
  			   , car_seater = #{car_seater}
  			   , car_fuel = #{car_fuel}
  			   
  		WHERE car_id = #{car_id}
			
	</update>
	
	<delete id="deleteCar">
		DELETE
		FROM car
		WHERE car_id = #{car_id}
	</delete>
  	<insert id="adminCarRegist">
  	
  		<selectKey keyProperty="car_id" resultType="int" order="BEFORE">
			SELECT IFNULL(MAX(car_id), 0) FROM car
		</selectKey>
		
  		INSERT INTO car
  		VALUES(#{car_id} + 1
  			   , #{car_manufacturer}
  			   , #{car_model}
  			   , #{car_name}
  			   , #{car_type}
  			   , #{car_year}
  			   , #{car_price}
  			   , '1'
  			   , #{car_seater}
  			   , #{car_fuel}
  			  )
  	</insert>
</mapper>