<?xml version="1.0" encoding="UTF-8"?>
 <!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.itwillbs.yata.mapper.CouponMapper">

	<select id="couponList"
		resultType="com.itwillbs.yata.vo.CouponVO">
		select * from coupon
	</select>

	<insert id="couponRegist">

		<selectKey keyProperty="coup_idx" resultType="int"
			order="BEFORE">
			SELECT IFNULL(MAX(coup_idx), 0) FROM coupon
		</selectKey>

		INSERT INTO coupon
		VALUES(#{coup_idx} + 1
		, #{coup_name}
		, (SELECT SUBSTR(MD5(RAND()), 1, 8))
		, #{coup_start}
		, #{coup_end}
		, #{coup_percent}
		)
	</insert>

	<select id="getNum" resultType="string">
		SELECT coup_code
		FROM coupon
		ORDER BY coup_idx
		LIMIT 1
	</select>

	<select id="selectCoupon"
		resultType="com.itwillbs.yata.vo.CouponVO">
		SELECT *
		FROM coupon
		WHERE coup_idx = #{coup_idx}

	</select>

	<delete id="deleteCoupon">
		DELETE
		FROM coupon
		WHERE coup_idx = #{coup_idx}
	</delete>

	<select id="checkEmail" resultType="string">
		SELECT coup_code
		FROM coupon_used
		WHERE member_email = #{member_email}
	</select>

	<select id="checkCode" resultType="string">
		SELECT coup_code
		FROM coupon_used
		WHERE member_email = #{member_email}
	</select>

	<insert id="couponEnroll">

		INSERT INTO coupon_used(used_idx, member_email, coup_useable, coup_code)
		VALUES( null,
				(SELECT MEMBER_EMAIL
				FROM member
				WHERE MEMBER_EMAIL = #{member_email}),
				'Y',
				(SELECT coup_code
				 FROM coupon c
				 limit 1)
		)
	</insert>
</mapper>