<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.itwillbs.yata.mapper.CsMapper">

	<select id="selectCsList"
		resultType="com.itwillbs.yata.vo.NoticeVO">
		SELECT *
		FROM cs
		ORDER BY
		board_re_ref DESC
		, board_re_seq ASC
		LIMIT 10
	</select>

	<select id="searchByCs" parameterType="String"
		resultType="com.itwillbs.yata.vo.NoticeVO">
		SELECT *
		FROM cs
		WHERE board_subject LIKE
		CONCAT('%',#{board_subject},'%');
	</select>

	<select id="getMailForm"
		resultType="com.itwillbs.yata.vo.MailFormVO">
		SELECT *
		FROM mailForm
		WHERE board_num = #{board_num}
	</select>

	<insert id="insertMailForm">
		<selectKey keyProperty="board_num" resultType="int"
			order="BEFORE">
			SELECT IFNULL(MAX(board_num), 0) FROM mailForm
		</selectKey>
		INSERT
		INTO mailForm
		VALUES (
		#{board_num} + 1
		, #{member_email}
		, '진행중'
		,
		#{board_subject}
		, #{board_content}
		,
		#{board_num} + 1
		, 0
		, 0
		, now()
		)
	</insert>

	<delete id="deleteView">
		DELETE
		FROM mailForm
		WHERE board_num = #{board_num}
	</delete>

	<select id="selectMyMail"
		resultType="com.itwillbs.yata.vo.MailFormVO">
		SELECT *
		FROM mailForm
		WHERE member_email = #{member_email}
		ORDER BY
		board_re_ref DESC
		, board_re_seq ASC
		LIMIT
		#{startRow}
		,
		#{listLimit};
	</select>

	<select id="selectMyMailCount" resultType="Integer">
		SELECT
		COUNT(member_email)
		FROM mailForm
		WHERE member_email = #{member_email}
	</select>


	<select id="selectAdminMailFormList"
		resultType="com.itwillbs.yata.vo.MailFormVO">
		SELECT *
		FROM mailForm
		<if test="!searchType.equals('')">
			WHERE
			<choose>
				<when test="searchType.equals('member_email')">
					member_email LIKE CONCAT('%', #{searchKeyword}, '%')
				</when>
				<when test="searchType.equals('board_subject')">
					board_subject LIKE CONCAT('%', #{searchKeyword},
					'%')
				</when>
				<when test="searchType.equals('board_date')">
					board_date LIKE CONCAT('%', #{searchKeyword}, '%')
				</when>
			</choose>
		</if>
		ORDER BY
		board_re_ref DESC
		, board_re_seq ASC
		LIMIT #{startRow}, #{listLimit}
	</select>
	<select id="selectMailFormListCount" resultType="int">
		SELECT COUNT(board_num)
		FROM mailform
		<if test="!searchType.equals('')">
			WHERE
			<choose>
				<when test="searchType.equals('member_email')">
					member_email LIKE CONCAT('%', #{searchKeyword}, '%')
				</when>
				<when test="searchType.equals('board_subject')">
					board_subject LIKE CONCAT('%', #{searchKeyword}, '%')
				</when>
				<when test="searchType.equals('board_date')">
					board_date LIKE CONCAT('%', #{searchKeyword}, '%')
				</when>
			</choose>
		</if>
	</select>
	<select id="selectAdminUnansweredMailFormList" resultType="com.itwillbs.yata.vo.MailFormVO">
  	SELECT *
	FROM mailForm
	WHERE board_progress = '진행중'
  		<if test="!searchType.equals('')">
			AND
			<choose>
				<when test="searchType.equals('member_email')">
					member_email LIKE CONCAT('%', #{searchKeyword}, '%')
				</when>
				<when test="searchType.equals('board_subject')">
					board_subject LIKE CONCAT('%', #{searchKeyword}, '%')
				</when>
				<when test="searchType.equals('board_date')">
					board_date LIKE CONCAT('%', #{searchKeyword}, '%')
				</when>
			</choose>
		</if>
  		ORDER BY
  			board_re_ref DESC
  			, board_re_seq ASC
  		LIMIT #{startRow}, #{listLimit}
  </select>

  <select id="selectUnansweredMailFormListCount" resultType="int">
  	SELECT COUNT(board_num)
  	FROM mailform
	WHERE board_progress = '진행중'
  	<if test="!searchType.equals('')">
  		AND
		<choose>
			<when test="searchType.equals('member_email')">
				member_email LIKE CONCAT('%', #{searchKeyword}, '%')
			</when>
			<when test="searchType.equals('board_subject')">
				board_subject LIKE CONCAT('%', #{searchKeyword}, '%')
			</when>
			<when test="searchType.equals('board_date')">
				board_date LIKE CONCAT('%', #{searchKeyword}, '%')
			</when>
		</choose>
	</if>
  </select>
   <select id="SelectMailFormDetail" resultType="com.itwillbs.yata.vo.MailFormVO">
  	SELECT *
  	FROM mailform
  	WHERE board_num = #{board_num}
  </select>
  
	<update id="updateBoardProgress">
		UPDATE mailform SET board_progress = "답변완료"
		WHERE board_re_ref = #{board_re_ref}
	</update>


	<!-- 2023-04-26 김동욱 - 1:1 문의 답변 기능 -->
	<insert id="insertMailformReply">
	  	<selectKey keyProperty="board_num" resultType="int" order="BEFORE">
	  		SELECT IFNULL(MAX(board_num), 0) FROM mailform
	  	</selectKey>
	  	INSERT INTO mailform
	  	VALUES (#{board_num} + 1
	  			, #{member_email}
	  			, "답변"
	  			, #{board_subject}
	  			, #{board_content}
	  			, #{board_re_ref} 
	  			, #{board_re_lev} + 1 
	  			, #{board_re_seq} + 1
	  			, now()
	  		   )
	</insert>


</mapper>