<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.itwillbs.yata.mapper.NoticeMapper">

	<select id="getNoticeList" resultType="com.itwillbs.yata.vo.NoticeVO">
		SELECT *
			FROM notice
			<if test="!searchKeyword.equals('')">
				WHERE
				<choose>
					<when test="searchType.equals('subject')">
						board_subject LIKE '%${searchKeyword}%'
					</when>
					<when test="searchType.equals('content')">
						board_content LIKE '%${searchKeyword}%'
					</when>
					<when test="searchType.equals('subject_content')">
						board_subject LIKE '%${searchKeyword}%'
						OR board_content LIKE '%${searchKeyword}%'
					</when>
					<when test="searchType.equals('name')">
						board_name LIKE '%${searchKeyword}%'
					</when>
				</choose> 
			</if>
			ORDER BY
				board_re_ref DESC
				, board_re_seq ASC
			LIMIT 
				#{startRow}
				, #{listLimit}	
	</select>
	
	<select id="getNoticeListCount" resultType="int">
		SELECT COUNT(*) 
			FROM notice
			<if test="!searchKeyword.equals('')">
				WHERE
				<choose>
					<when test="searchType.equals('subject')">
						board_subject LIKE CONCAT('%', #{searchKeyword}, '%')
					</when>
					<when test="searchType.equals('content')">
						board_content LIKE CONCAT('%', #{searchKeyword}, '%')
					</when>
					<when test="searchType.equals('subject_content')">
						board_subject LIKE CONCAT('%', #{searchKeyword}, '%')
						OR board_content LIKE CONCAT('%', #{searchKeyword}, '%')
					</when>
					<when test="searchType.equals('name')">
						board_name LIKE CONCAT('%', #{searchKeyword}, '%')
					</when>
				</choose> 
			</if>
	</select>
		
	<select id="searchByNotice" parameterType="String"
		resultType="com.itwillbs.yata.vo.NoticeVO">
		SELECT *
		FROM notice
		WHERE board_subject LIKE
		CONCAT('%',#{board_subject},'%');
	</select>

	<select id="getNotice"
		resultType="com.itwillbs.yata.vo.NoticeVO">
		SELECT *
		FROM notice
		WHERE board_num = #{board_num}
	</select>

</mapper>