<?xml version="1.0" encoding="UTF-8"?>
 <!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itwillbs.yata.mapper.PointMapper">
	<select id="myPoint" resultType="com.itwillbs.yata.vo.PointVO">
		SELECT *
		  FROM point
		 WHERE member_email = #{member_email}
	</select>
</mapper>